.Dica {
  height: 100%;
  border: none;
}

.dicaImg {
  margin-right: 7px;
  display: flex;
  align-self: center;
}

.Dica.disabled {
  background-color: grey;
}

@media (max-width: 1200px) {
  .Dica {
    font-size: 22px;
  }
}