.Pular {
  height: 100%;
  border: none;
}

.pularImg {
  margin-right: 7px;
  display: flex;
  align-self: center;
}

.Pular.disabled {
  background-color: grey;
}

@media (max-width: 1200px) {
  .Pular {
    font-size: 22px;
  }
}